[Desktop Entry]
Name=Now Playing
Exec=cosmic-ext-applet-now-playing
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.DiegoMMR.CosmicExtAppletNowPlaying
Categories=AudioVideo;Utility;
Keywords=Music;Media;Now Playing;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
