[Desktop Entry]
Name=Now Playing
Name[cs]=Nyní hraje
Exec=cosmic-ext-applet-now-playing
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.DiegoMMR.CosmicExtAppletNowPlaying
Categories=AudioVideo;Utility;
Keywords=Music;Media;Now Playing;
Keywords[cs]=Hudba;Média;Nyní hraje;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
